<div>
  <div>
    <div>Category</div>
    <form [formGroup]="expenseCategoryForm" (ngSubmit)="createExpenseCategory()">
      <div>
        <label>
          Description
          <input [formControl]="expenseCategoryForm.controls.description">
        </label>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="expenseCategoryForm.invalid"
        >
          Create
        </button>
      </div>
    </form>

  </div>

  <div>
    <div>
      Expense
    </div>
    <div>
      <form [formGroup]="form" (ngSubmit)="create()">
        <div>
          <label>
            Amount
            <input [formControl]="form.controls.amount">
          </label>
        </div>

        <div>
          <label>
            Description
            <input [formControl]="form.controls.description">
          </label>
        </div>

        <div>
          <label>
            Date
            <input [formControl]="form.controls.date">
          </label>
        </div>

        <div>
          <select [formControl]="form.controls.categoryId">
            @for (expenseCategory of expenseCategoryList$ | async; track expenseCategory) {
              <option [ngValue]="expenseCategory.id">
                {{ expenseCategory.description }}
              </option>
            }
          </select>
        </div>

        <div>
          <button
            type="submit"
            [disabled]="form.invalid"
          >
            Create
          </button>
        </div>
      </form>
    </div>
  </div>


  <app-expense-list/>
</div>
