/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none;

    & > app-item:hover {
        background-color: lightskyblue;
        border-radius: 6px;
    
    }
}
